
body {
    /* Login */
    --core-login-text-color: #172975;
    --core-login-input-background: #EBEBEB;    

    /* primary colors */
    --ion-color-primary: #006600;    /* Black or white, depending on which color gives more contrast */
    --ion-color-primary-contrast: #ffffff;
}

/* bottom toolbar*/
ion-tab-bar.mainmenu-tabs {
    /* Background */
    --core-bottom-tabs-background: #172975;
    --core-bottom-tabs-background-selected: transparent;

    /* Tab icons */
    --core-bottom-tabs-color: rgba(255, 255, 255, .5);

    /* Selected tab icon */
    --core-bottom-tabs-color-selected: #fff;

    /* Badges */
    --core-bottom-tabs-badge-text-color: #fff;
    --core-bottom-tabs-badge-color: white;
}

/* toolbar */
ion-header ion-toolbar {
    --core-header-toolbar-border-width: 2px; /* Use 0 to disable it */
    --core-header-toolbar-border-color: #172975;
}